<style> <!--(start of style) Characteristics for elements below-->
	canvas {
      background-color: black;
	  animation: mymove1 7s infinite;	  
	}
	@keyframes mymove1 {50% {background-color: #001B50;}}
	body{background-color: black;}
	h1{color: purple;
      animation: mymove2 4s infinite;}
    @keyframes mymove2 {50% {color: lime;}
	}
	h2{color: white;}
	h3{color: cyan;}
	h4{color: red;}
	p{color: white;}
	li{color: white;}
	table{color: cyan;
		  
		  width: 200px;
		  height: 100px;
	}
	td, th {border: 1px solid white;
			width: 100px;
			height: 50px;
	}
	thead{color: red}
	section{color: white;
		  border: 1px solid white;
		  width: 450px;
		  height: 75px;
	}
	aside {
		padding-left: 50px;
		margin-left: 15px;
		float: right;
		font-style: italic;
	}
	button{
	color: darkorange;
	font-size: 35px;
	width: 200px;
	height: 75px;
	border: 7px solid darkorange;
	background: black;
	}
	.uppercase{ <!-- anything using this class will be in all caps-->
	  text-transform: uppercase;
	}
	button:hover { <!--when hover over button, changes it to light orange instead of dark orange (Currently Not Working)-->
		color: yellow;
		font-size: 35px;
		width: 200px;
		height: 75px;
		border: 7px solid yellow;
		background: black;
	}
	
    .mariorun {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  
	  position: absolute;
	
	  top: 50;
	  animation: move-right 10s steps(1000) infinite;
	}
	@keyframes move-right {
	  0% {
		transform: translateX(0);
	  }
	  100% {
		transform: translateX(100%);
	  }
	}

</style><!--End of style-->