<style> <!--(start of style) Characteristics for elements below-->
	canvas {
	  border: 5px cyan;<!--border currently not working-->
      background-color: black;
	  animation: mymove1 7s infinite;
	}
	@keyframes mymove1 {50% {background-color: #001B50;}}
	body{background-color: black;}
	h1{color: purple;
      animation: mymove2 4s infinite;
	}
    @keyframes mymove2 {50% {color: lime;}}
	h2{color: white}
	h3{color: cyan}
	h4{color: red}
	p{color: white}
	li{color: white}
	table{color: white;
		  border:2px solid white;
		  width: 200px;
		  height: 100px;
	}
	td, th {border: 1px solid white;
			width: 100px;
			height: 50px
	}
	thead{color: red}
	section{color: white;
		  border: 1px solid white;
		  width: 450px;
		  height: 75px;
	}
	aside {
		padding-left: 50px;
		margin-left: 15px;
		float: right;
		font-style: italic;
	}
	button{
	color: orange;
	font-size: 50;
	width: 200px;
	height: 75px;
	border: 10px solid orange;
	background: black
	}
</style><!--End of style-->